{
  "openapi": "3.1.0",
  "info": {
    "title": "Asimov API",
    "description": "Asimov is a foundational AI search platform that enables developers to build powerful search capabilities for AI agents and applications. It provides vector-based semantic search and content management accessible via API keys.",
    "version": "1.0.0",
    "contact": {
      "email": "hamza@asimov.mov"
    }
  },
  "servers": [
    {
      "url": "https://asimov.mov/api",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Content",
      "description": "Manage and search content in your knowledge base"
    }
  ],
  "paths": {
    "/sources/content/add": {
      "post": {
        "tags": ["Content"],
        "summary": "Add content to knowledge base",
        "description": "Adds content to your knowledge base. The content is automatically chunked, embedded, and stored in MongoDB. Supports optional metadata parameters for filtering.",
        "operationId": "addContent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The content to add to the knowledge base",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional name/identifier for this content"
                  },
                  "params": {
                    "type": "object",
                    "description": "Optional metadata parameters for filtering. Must be created in the dashboard first.",
                    "additionalProperties": true
                  }
                }
              },
              "examples": {
                "basic": {
                  "value": {
                    "content": "Asimov is a foundational AI search platform.",
                    "name": "Introduction"
                  }
                },
                "withParams": {
                  "value": {
                    "content": "This is product documentation for version 2.0",
                    "name": "Product Docs v2",
                    "params": {
                      "version": "2.0",
                      "category": "documentation"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Content added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "addUsage": {
                          "type": "integer"
                        },
                        "addLimit": {
                          "type": "integer"
                        },
                        "requestedTokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sources/content/search": {
      "post": {
        "tags": ["Content"],
        "summary": "Search content",
        "description": "Performs semantic search across your knowledge base using vector embeddings. Results are reranked for relevance.",
        "operationId": "searchContent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The search query",
                    "minLength": 1
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of results to return",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 100
                  },
                  "id": {
                    "type": "string",
                    "description": "Optional document ID to filter results by specific document"
                  },
                  "params": {
                    "type": "object",
                    "description": "Optional metadata parameters for filtering. Only content matching all provided parameters will be returned.",
                    "additionalProperties": true
                  },
                  "recall": {
                    "type": "integer",
                    "description": "Number of candidates to retrieve before filtering and reranking",
                    "default": 100,
                    "minimum": 1
                  }
                }
              },
              "examples": {
                "basic": {
                  "value": {
                    "query": "What is Asimov?",
                    "limit": 5
                  }
                },
                "withParams": {
                  "value": {
                    "query": "documentation",
                    "limit": 10,
                    "params": {
                      "version": "2.0",
                      "category": "documentation"
                    },
                    "recall": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "searchUsage": {
                          "type": "integer"
                        },
                        "searchLimit": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use your API key (prefixed with 'asmv-'). Format: 'Bearer YOUR_API_KEY'"
      }
    }
  }
}
